*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

h1{
    font-family: 'Mali', cursive;
}

h2{
    font-family: 'Mali', cursive;
}

ul{
    list-style: none;
}

/* HEADER */
.header{
    background-color: #2a2170;
}

.header__logo{
    width: 50px;
    height: 50px;
}

.nav-link:hover{
    transform: scale(1.2,1.2);
    transition: all 1s;
}

.nav-link{
    color: white;
}

.active{
    color: aqua;
}

/* MAIN-INDEX */
.carousel__altura{
    height: 600px;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.main__galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main__bodegas--img{
    width: 200px;
    height: 200px;
}

.main__bodegas--img:hover{
    transform: scale(1.1, 1.1);
    transition: all 2s;
}

/* PAGINA PRODUCTOS */
.productos{
    margin-top: 16px;
}

.accordion-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.accordion-button{
    font-size: 30px;
}

/* PAGINA BODEGAS */
.bodegas{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
}

.bodegas__portada{
    width: 900px;
    height: 450px;
}

.bodegas__titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.bodegas__ravera{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.bodegas__alandes{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.bodegas__fin{
    grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

/* PAGINA QUIENES SOMOS */
.informacion{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
}

.informacion__titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.informacion__portada{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 16px;
}

.informacion__img{
    grid-column: 1/4;
    grid-row: 3/4;
    background-image: url("../recursos/copas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin: 16px;
}

/* PAGINA CONTACTO */
.btn{
    margin: 16px;
}

/* FOOTER */
footer{
    display: grid;
    grid-template-areas: "indice mapa redes"
                        "indice mapa derechos";
    padding: 20px;
}

.footer__indice{
    grid-area: indice;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__mapa{
    grid-area: mapa;
    display: flex;
    justify-content: center;
}

.footer__redes{
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__derechos{
    grid-area: derechos;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__iconos{
    width: 55px;
    height: 55px;
    margin: 10px;
}

.footer__iconos:hover{
    transform: scale(2,2);
    transition: all 3s;
}

.footer__indice ul li{
    font-size: 16px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

/* MEDIA QUERIE CELULAR */
@media (min-width: 320px) and (max-width:575px) {
    /* HEADER */
    header{
        height: auto;
        width: auto;
    }

    .header__lista{
        flex-direction: column;
    }
    
    .header__nav{
        flex-direction: column;
        align-items: center;
    }

    .header__logo{
        height: auto;
    }

    .nav-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* MAIN-INDEX */
    .main__portada{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-size: auto;
    }

    .main__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-content:center;
    }

    .main__texto{
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
        align-items: center;
        margin: 10px;
    }

    .main__galeria{
        justify-content: center;
        flex-direction: column;
    }

    .main__bodegas--img{
        width: 200px;
        height: 200px;
    }

    /* PAGINA BODEGAS */
    .bodegas{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr;
    }

    .bodegas__portada{
        height: 250px;
        width: auto;
    }

    .bodegas__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .bodegas__ravera{
        grid-column: 1/2;
        grid-row: 2/3;
    }
        
    .bodegas__alandes{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .bodegas__fin{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .informacion{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .informacion__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
}

    .informacion__portada{
        grid-column: 1/2;
        grid-row: 2/3;
}

    .informacion__img{
        grid-column: 1/2;
        grid-row: 3/4;
}

/* PAGINA CONTACTO */
.contacto{
    grid-template-rows: auto;
}

.contacto__titulo{
    font-size: 25px;
}

    /* FOOTER */
    footer{
        grid-template-areas: "indice" 
                            "mapa"
                            "redes"
                            "derechos";
        padding: 10px;
    }

    .footer__mapa{
        display: none;
    }
}

/* MEDIA QUERIE TABLET */
@media (min-width: 576px) and (max-width:992px) {

    .nav-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* MAIN-INDEX */
    .main__portada{
        height: auto;
        width: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        font-size: auto;
    }
    .main__titulo{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-content: center;
    }

    .main__texto{
        grid-column: 1/4;
        grid-row: 2/3;
        height: auto;
        justify-content: center;
    }

    /* FOOTER */
    footer{
        grid-template-areas: "indice" 
                            "mapa"
                            "redes"
                            "derechos";
        padding: 10px;
    }
}