/* LETRAS */
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Mali', cursive;

/* COLORES */
$color-principal: rgba(211, 211, 211, 0.751);
$color-secundario: #2a2170;
$links: rgb(255, 255, 255);

/* TAMAÑOS */
$carousel: 600px;
$logo: 50px;
$iconos: 55px;
$bodegas-portada: 200px;
$fuente-productos: 30px;