/* LETRAS */
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Mali', cursive;

/* COLORES */
$color-principal: rgba(211, 211, 211, 0.751);
$color-secundario: #2a2170;
$links: rgb(255, 255, 255);

/* TAMAÑOS */
$carousel: 37.5rem;
$logo: 3.1rem;
$iconos: 3.4rem;
$bodegas-portada: 12.5rem;
$fuente-productos: 1.8rem;